# Tugas Pendahuluan
Tugas Pendahuluan dikerjakan dengan dataset titanic yang dapat didownload pada link [berikut](https://drive.google.com/file/d/16j_9FEHLjh_Y_3CdUtp9M13VwImyT89T/view?usp=sharing). Lakukan prediksi apakah suatu penumpang selamat atau tidak (kolom **survived**), bernilai 0 jika tidak selamat, dan 1 jika selamat.

<br>
Tugas dikerjakan secara berkelompok, dengan 1 kelompok terdiri atas 2 mahasiswa. Waktu pengerjaan dari 28 Maret 2022 - 3 April 2022 pukul 23.59.

# 0. Loading Data and Library

In [157]:
# Put your library here

import pandas as pd
import numpy as np
from pandas.api.types import is_numeric_dtype

In [5]:
# Read data here

# Load titanic dataset
df_raw = pd.read_csv("titanic_dataset.csv")
df = df_raw.copy()

In [18]:
df.iloc[5]

index                                   5
pclass                                1.0
survived                              1.0
name        Chambers, Mr. Norman Campbell
sex                                  male
age                                  27.0
sibsp                                 1.0
parch                                 0.0
ticket                             113806
fare                                 53.1
cabin                                  E8
embarked                                S
Name: 5, dtype: object

# I. Data Understanding
Tujuan dari bagian ini adalah peserta dapat memahami kualitas dari data yang diberikan. Hal ini meliputi:
1. Ukuran data
2. Statistik dari tiap fitur
3. Pencilan (outlier)
4. Korelasi
5. Distribusi

## I.1 
Carilah:
1. Ukuran dari data (instances dan features)
2. Tipe dari tiap-tiap fitur 
3. Banyaknya unique values dari fitur yang bertipe kategorikal
4. Nilai minimum, maksimum, rata-rata, median, dan standar deviasi dari fitur yang tidak bertipe kategorikal

In [126]:
# I.1 Put your code here

description = df.describe()
description

,index,pclass,survived,age,sibsp,parch,fare
count,1309.000000,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,654.000000,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479
std,378.020061,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668
min,0.000000,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000
25%,327.000000,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800
50%,654.000000,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200
75%,981.000000,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000
max,1308.000000,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200

## I.2
Carilah:
1. Missing values dari tiap fitur
2. Outliers dari tiap fitur (gunakan metode yang kalian ketahui)

In [145]:
# I.2 Put your code here

print("1. Missing values dari tiap fitur\n")

for column in df.columns[1:]:
    if (column != "survived"):
        print("• "+column+str(": ")+str(len(df[df[column].isna()])))

print("\n", df[df.isna().any(axis=1)])

print("\n\n2. Outliers dari tiap fitur")

for column in df.columns[1:]:
    if (is_numeric_dtype(df[column]) and column != "survived"):
        print("\n• "+column+str(":"))
        q1 = df[column].quantile(0.25)
        q3 = df[column].quantile(0.75)
        iqr = q3-q1
        lower_bound = q1-1.5*iqr
        upper_bound = q3+1.5*iqr
        outliers = df.loc[(df[column]<lower_bound) | (df[column]>upper_bound)]
        print("\t- Lower bound: "+str(lower_bound))
        print("\t- Upper bound: "+str(upper_bound)+"\n")
        if (len(outliers) == 0):
            print("\t  No outliers")
        else:
            print(str(outliers))
            print("Jumlah: "+str(len(outliers)))

1. Missing values dari tiap fitur

• pclass: 0
• name: 0
• sex: 0
• age: 263
• sibsp: 0
• parch: 0
• ticket: 0
• fare: 1
• cabin: 1014
• embarked: 2

       index  pclass  survived                                          name  \
0         0     3.0       1.0                   Abelseth, Miss. Karen Marie
1         1     3.0       0.0                       Burns, Miss. Mary Delia
3         3     3.0       1.0  de Messemaeker, Mrs. Guillaume Joseph (Emma)
4         4     3.0       0.0                     Jonsson, Mr. Nils Hilding
6         6     2.0       0.0                           Enander, Mr. Ingvar
...     ...     ...       ...                                           ...
1301   1301     3.0       0.0              Gronnestad, Mr. Daniel Danielsen
1302   1302     3.0       1.0                     Madsen, Mr. Fridtjof Arne
1304   1304     3.0       1.0                         Dahl, Mr. Karl Edwart
1307   1307     3.0       1.0                Murphy, Miss. Katherine "Kate"
1308   1308     3.0       0.0                           Sage, Mr. Frederick

         sex   age  sibsp  parch    ticket     fare cabin embarked
0     female  16.0    0.0    0.0    348125   7.6500   NaN        S
1     female  18.0    0.0    0.0    330963   7.8792   NaN        Q
3     female  36.0    1.0    0.0    345572  17.4000   NaN        S
4       male  27.0    0.0    0.0    350408   7.8542   NaN        S
6       male  21.0    0.0    0.0    236854  13.0000   NaN        S
...      ...   ...    ...    ...       ...      ...   ...      ...
1301    male  32.0    0.0    0.0      8471   8.3625   NaN        S
1302    male  24.0    0.0    0.0   C 17369   7.1417   NaN        S
1304    male  45.0    0.0    0.0      7598   8.0500   NaN        S
1307  female   NaN    1.0    0.0    367230  15.5000   NaN        Q
1308    male   NaN    8.0    2.0  CA. 2343  69.5500   NaN        S

[1039 rows x 12 columns]


2. Outliers dari tiap fitur

• pclass:
	- Lower bound: 0.5
	- Upper bound: 4.5

	  No outliers

• age:
	- Lower bound: -6.0
	- Upper bound: 66.0

      index  pclass  survived  \
271     271     1.0       0.0
352     352     1.0       0.0
422     422     2.0       0.0
535     535     1.0       1.0
639     639     3.0       0.0
665     665     3.0       0.0
706     706     1.0       0.0
866     866     1.0       0.0
1265   1265     1.0       1.0

                                                   name     sex   age  sibsp  \
271                             Artagaveytia, Mr. Ramon    male  71.0    0.0
352                        Crosby, Capt. Edward Gifford    male  70.0    1.0
422                         Mitchell, Mr. Henry Michael    male  70.0    0.0
535   Cavendish, Mrs. Tyrell William (Julia Florence...  female  76.0    1.0
639                                 Svensson, Mr. Johan    male  74.0    0.0
665                                Connors, Mr. Patrick    male  70.5    0.0
706                           Goldschmidt, Mr. George B    male  71.0    0.0
866                                  Straus, Mr. Isidor    male  67.0    1.0
1265               Barkworth, Mr. Algernon Henry Wilson    male  80.0    0.0

      parch      ticket      fare    cabin embarked
271     0.0    PC 17609   49.5042      NaN        C
352     1.0   WE/P 5735   71.0000      B22        S
422     0.0  C.A. 24580   10.5000      NaN        S
535     0.0       19877   78.8500      C46        S
639     0.0      347060    7.7750      NaN        S
665     0.0      370369    7.7500      NaN        Q
706     0.0    PC 17754   34.6542       A5        C
866     0.0    PC 17483  221.7792  C55 C57        S
1265    0.0       27042   30.0000      A23        S
Jumlah: 9

• sibsp:
	- Lower bound: -1.5
	- Upper bound: 2.5

      index  pclass  survived  \
2         2     1.0       1.0
25       25     3.0       0.0
43       43     3.0       0.0
55       55     3.0       0.0
98       98     3.0       0.0
103     103     3.0       0.0
110     110     3.0       0.0
117     117     1.0       1.0
131     131     3.0       0.0
151     151     3.0       0.0
177     177     3.0       0.0
179     179     3.0       0.0
244     244     3.0       0.0
317     317     3.0       0.0
318     318     3.0       0.0
340     340     3.0       0.0
368     368     3.0       0.0
375     375     3.0       0.0
441     441     3.0       0.0
454     454     3.0       0.0
459     459     3.0       0.0
476     476     3.0       1.0
484     484     3.0       0.0
485     485     3.0       0.0
505     505     3.0       0.0
516     516     1.0       0.0
527     527     3.0       1.0
530     530     3.0       0.0
540     540     3.0       0.0
576     576     3.0       0.0
580     580     3.0       0.0
617     617     3.0       0.0
643     643     3.0       0.0
652     652     3.0       0.0
713     713     3.0       0.0
731     731     3.0       1.0
743     743     3.0       0.0
766     766     3.0       0.0
772     772     3.0       0.0
794     794     1.0       1.0
817     817     3.0       0.0
843     843     3.0       1.0
849     849     3.0       0.0
880     880     3.0       0.0
939     939     3.0       0.0
955     955     3.0       0.0
982     982     3.0       1.0
986     986     3.0       0.0
998     998     3.0       0.0
1020   1020     3.0       0.0
1029   1029     3.0       0.0
1032   1032     3.0       0.0
1035   1035     2.0       1.0
1180   1180     3.0       0.0
1192   1192     3.0       0.0
1203   1203     3.0       0.0
1308   1308     3.0       0.0

                                                   name     sex   age  sibsp  \
2                        Fortune, Miss. Alice Elizabeth  female  24.0    3.0
25                          Goodwin, Mr. Charles Edward    male  14.0    5.0
43                        Palsson, Miss. Torborg Danira  female   8.0    3.0
55                                 Rice, Master. Arthur    male   4.0    4.0
98                                 Rice, Master. Albert    male  10.0    4.0
103                                  Lefebre, Miss. Ida  female   NaN    3.0
110                   Andersson, Miss. Sigrid Elisabeth  female  11.0    4.0
117                          Fortune, Miss. Ethel Flora  female  28.0    3.0
131                             Lefebre, Miss. Mathilde  female   NaN    3.0
151                        Skoog, Master. Karl Thorsten    male  10.0    3.0
177                  Goodwin, Master. William Frederick    male  11.0    5.0
179                          Palsson, Miss. Stina Viola  female   3.0    3.0
244                                  Skoog, Miss. Mabel  female   9.0    3.0
317             Andersson, Master. Sigvard Harald Elias    male   4.0    4.0
318               Asplund, Master. Clarence Gustaf Hugo    male   9.0    4.0
340                                     Sage, Miss. Ada  female   NaN    8.0
368                          Sage, Master. Thomas Henry    male   NaN    8.0
375                         Goodwin, Miss. Jessie Allis  female  10.0    5.0
441                        Sage, Miss. Constance Gladys  female   NaN    8.0
454                       Lefebre, Master. Henry Forbes    male   NaN    3.0
459                        Asplund, Master. Filip Oscar    male  13.0    4.0
476                     Andersson, Miss. Erna Alexandra  female  17.0    4.0
484                      Palsson, Master. Gosta Leonard    male   2.0    3.0
485                  Andersson, Miss. Ebba Iris Alfrida  female   6.0    4.0
505                        Panula, Master. Urho Abraham    male   2.0    4.0
516                      Fortune, Mr. Charles Alexander    male  19.0    3.0
527                            Kink-Heilmann, Mr. Anton    male  29.0    3.0
530                             Sage, Miss. Stella Anna  female   NaN    8.0
540                           Vander Planke, Mr. Julius    male  31.0    3.0
576                          Goodwin, Miss. Lillian Amy  female  16.0    5.0
580                   Sage, Miss. Dorothy Edith "Dolly"  female   NaN    8.0
617                           Rice, Master. George Hugh    male   8.0    4.0
643                       Skoog, Miss. Margit Elizabeth  female   2.0    3.0
652                         Palsson, Master. Paul Folke    male   6.0    3.0
713                         Asplund, Master. Carl Edgar    male   5.0    4.0
731                      Asplund, Miss. Lillian Gertrud  female   5.0    4.0
743                               Skoog, Master. Harald    male   4.0    3.0
766                            Panula, Mr. Jaako Arnold    male  14.0    4.0
772                         Sage, Master. William Henry    male  14.5    8.0
794                          Fortune, Miss. Mabel Helen  female  23.0    3.0
817                Andersson, Miss. Ingeborg Constanzia  female   9.0    4.0
843                   Asplund, Master. Edvin Rojj Felix    male   3.0    4.0
849                     Goodwin, Master. Sidney Leonard    male   1.0    5.0
880                      Goodwin, Master. Harold Victor    male   9.0    5.0
939                            Sage, Mr. George John Jr    male   NaN    8.0
955                           Panula, Mr. Ernesti Arvid    male  16.0    4.0
982   Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...  female  33.0    3.0
986                              Lefebre, Miss. Jeannie  female   NaN    3.0
998                          Panula, Master. Juha Niilo    male   7.0    4.0
1020                           Sage, Mr. Douglas Bullen    male   NaN    8.0
1029                               Rice, Master. Eugene    male   2.0    4.0
1032                       Panula, Master. Eino Viljami    male   1.0    4.0
1035        Renouf, Mrs. Peter Henry (Lillian Jefferys)  female  30.0    3.0
1180             Andersson, Miss. Ida Augusta Margareta  female  38.0    4.0
1192                                 Rice, Master. Eric    male   7.0    4.0
1203                  Andersson, Miss. Ellis Anna Maria  female   2.0    4.0
1308                                Sage, Mr. Frederick    male   NaN    8.0

      parch    ticket      fare        cabin embarked
2       2.0     19950  263.0000  C23 C25 C27        S
25      2.0   CA 2144   46.9000          NaN        S
43      1.0    349909   21.0750          NaN        S
55      1.0    382652   29.1250          NaN        Q
98      1.0    382652   29.1250          NaN        Q
103     1.0      4133   25.4667          NaN        S
110     2.0    347082   31.2750          NaN        S
117     2.0     19950  263.0000  C23 C25 C27        S
131     1.0      4133   25.4667          NaN        S
151     2.0    347088   27.9000          NaN        S
177     2.0   CA 2144   46.9000          NaN        S
179     1.0    349909   21.0750          NaN        S
244     2.0    347088   27.9000          NaN        S
317     2.0    347082   31.2750          NaN        S
318     2.0    347077   31.3875          NaN        S
340     2.0  CA. 2343   69.5500          NaN        S
368     2.0  CA. 2343   69.5500          NaN        S
375     2.0   CA 2144   46.9000          NaN        S
441     2.0  CA. 2343   69.5500          NaN        S
454     1.0      4133   25.4667          NaN        S
459     2.0    347077   31.3875          NaN        S
476     2.0   3101281    7.9250          NaN        S
484     1.0    349909   21.0750          NaN        S
485     2.0    347082   31.2750          NaN        S
505     1.0   3101295   39.6875          NaN        S
516     2.0     19950  263.0000  C23 C25 C27        S
527     1.0    315153   22.0250          NaN        S
530     2.0  CA. 2343   69.5500          NaN        S
540     0.0    345763   18.0000          NaN        S
576     2.0   CA 2144   46.9000          NaN        S
580     2.0  CA. 2343   69.5500          NaN        S
617     1.0    382652   29.1250          NaN        Q
643     2.0    347088   27.9000          NaN        S
652     1.0    349909   21.0750          NaN        S
713     2.0    347077   31.3875          NaN        S
731     2.0    347077   31.3875          NaN        S
743     2.0    347088   27.9000          NaN        S
766     1.0   3101295   39.6875          NaN        S
772     2.0  CA. 2343   69.5500          NaN        S
794     2.0     19950  263.0000  C23 C25 C27        S
817     2.0    347082   31.2750          NaN        S
843     2.0    347077   31.3875          NaN        S
849     2.0   CA 2144   46.9000          NaN        S
880     2.0   CA 2144   46.9000          NaN        S
939     2.0  CA. 2343   69.5500          NaN        S
955     1.0   3101295   39.6875          NaN        S
982     0.0   3101278   15.8500          NaN        S
986     1.0      4133   25.4667          NaN        S
998     1.0   3101295   39.6875          NaN        S
1020    2.0  CA. 2343   69.5500          NaN        S
1029    1.0    382652   29.1250          NaN        Q
1032    1.0   3101295   39.6875          NaN        S
1035    0.0     31027   21.0000          NaN        S
1180    2.0    347091    7.7750          NaN        S
1192    1.0    382652   29.1250          NaN        Q
1203    2.0    347082   31.2750          NaN        S
1308    2.0  CA. 2343   69.5500          NaN        S
Jumlah: 57

• parch:
	- Lower bound: 0.0
	- Upper bound: 0.0

      index  pclass  survived  \
2         2     1.0       1.0
10       10     3.0       0.0
15       15     1.0       1.0
17       17     1.0       0.0
22       22     3.0       0.0
...     ...     ...       ...
1291   1291     1.0       1.0
1294   1294     1.0       1.0
1296   1296     3.0       1.0
1306   1306     2.0       1.0
1308   1308     3.0       0.0

                                                   name     sex      age  \
2                        Fortune, Miss. Alice Elizabeth  female  24.0000
10                               Johnston, Mr. Andrew G    male      NaN
15        Graham, Mrs. William Thompson (Edith Junkins)  female  58.0000
17                             Thayer, Mr. John Borland    male  49.0000
22                                 Boulos, Master. Akar    male   6.0000
...                                                 ...     ...      ...
1291         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0000
1294  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.0000
1296                    Thomas, Master. Assad Alexander    male   0.4167
1306                       Becker, Miss. Ruth Elizabeth  female  12.0000
1308                                Sage, Mr. Frederick    male      NaN

      sibsp  parch      ticket      fare        cabin embarked
2       3.0    2.0       19950  263.0000  C23 C25 C27        S
10      1.0    2.0  W./C. 6607   23.4500          NaN        S
15      0.0    1.0    PC 17582  153.4625         C125        S
17      1.0    1.0       17421  110.8833          C68        C
22      1.0    1.0        2678   15.2458          NaN        C
...     ...    ...         ...       ...          ...      ...
1291    1.0    1.0       36928  164.8667          NaN        S
1294    1.0    1.0       16966  134.5000          E34        C
1296    0.0    1.0        2625    8.5167          NaN        C
1306    2.0    1.0      230136   39.0000           F4        S
1308    8.0    2.0    CA. 2343   69.5500          NaN        S

[307 rows x 12 columns]
Jumlah: 307

• fare:
	- Lower bound: -27.172999999999995
	- Upper bound: 66.34379999999999

      index  pclass  survived  \
2         2     1.0       1.0
11       11     1.0       0.0
12       12     1.0       1.0
15       15     1.0       1.0
17       17     1.0       0.0
...     ...     ...       ...
1294   1294     1.0       1.0
1298   1298     1.0       1.0
1303   1303     1.0       0.0
1305   1305     1.0       0.0
1308   1308     3.0       0.0

                                                   name     sex   age  sibsp  \
2                        Fortune, Miss. Alice Elizabeth  female  24.0    3.0
11                           Payne, Mr. Vivian Ponsonby    male  23.0    0.0
12                             Goldenberg, Mr. Samuel L    male  49.0    1.0
15        Graham, Mrs. William Thompson (Edith Junkins)  female  58.0    0.0
17                             Thayer, Mr. John Borland    male  49.0    1.0
...                                                 ...     ...   ...    ...
1294  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.0    1.0
1298    Stephenson, Mrs. Walter Bertram (Martha Eustis)  female  52.0    1.0
1303                             Astor, Col. John Jacob    male  47.0    1.0
1305         Penasco y Castellana, Mr. Victor de Satode    male  18.0    1.0
1308                                Sage, Mr. Frederick    male   NaN    8.0

      parch    ticket      fare        cabin embarked
2       2.0     19950  263.0000  C23 C25 C27        S
11      0.0     12749   93.5000          B24        S
12      0.0     17453   89.1042          C92        C
15      1.0  PC 17582  153.4625         C125        S
17      1.0     17421  110.8833          C68        C
...     ...       ...       ...          ...      ...
1294    1.0     16966  134.5000          E34        C
1298    0.0     36947   78.2667          D20        C
1303    0.0  PC 17757  227.5250      C62 C64        C
1305    0.0  PC 17758  108.9000          C65        C
1308    2.0  CA. 2343   69.5500          NaN        S

[171 rows x 12 columns]
Jumlah: 171

Age yang NaN dapat diisi dengan age rata-rata. Fare yang NaN dapat diisi dengan fare rata-rata untuk kelas tiket bersangkutan (kelas tiket ditandai oleh fitur pclass). Embarked yang kosong dapat diisi dengan port frekuensi tertinggi pada fitur embarked.

Age yang outliers masih berada dalam rentang umur wajar bagi manusia, maka tidak akan dianggap outlier, karena data kemungkinan besar betul. SibSp yang outliers masih berada dalam rentang wajar. Pada kasus ekstrim SibSp bernilai 8 dapat mengindikasikan 8 saudara, atau 7 saudara dan 1 suami atau istri. Sebagai contoh adalah Stella Anne Sage (https://www.encyclopedia-titanica.org/titanic-victim/stella-anne-sage.html). ParCh yang outliers juga masih berada dalam rentang wajar. Data dianggap outlier karena mayoritas nilai ParCh adalah 0. Fare yang outliers dapat diteliti ulang berdasarkan sumber berikut (https://lisbdnet.com/how-much-did-tickets-cost-for-the-titanic/). Melihat nilai maksimum fare dalam data adalah £512 dan harga tiket first class diestimasi £870, serta tidak ada nilai fare yang negatif, maka data fare dapat dianggap benar. Untuk menangani dampak nilai ekstrim pada data kontinu fare, dapat dilakukan scaling/normalisasi.

## I.3
Carilah:
1. Korelasi antar fitur
2. Visualisasikan distribusi dari tiap fitur (kategorikal dan kontinu)
3. Visualisasikan distribusi dari tiap fitur, dengan data dibagi tiap unique values fitur survived

In [ ]:
# I.3 Put your code here

## I.4
Lakukanlah analisa pada data lebih lanjut jika dibutuhkan, kemudian lakukanlah:
1. Penambahan fitur jika memungkinkan
2. Pembuangan fitur yang menurut kalian tidak dibutuhkan
3. Penanganan missing values
4. Transformasi data kategorikal menjadi numerikal (encoding), dengan metode yang kalian inginkan
5. Lakukan scaling dengan MinMaxScaler

In [182]:
# I.4 Put your code here

data = {}

# Karena sebutan honorifik menandai status, maka dapat dijadikan fitur
title_count = {}

use_columns = ['pclass', 'title', 'last_name', 'sex', 'age', 'sibsp', 'parch', 'ticket_code', 'fare', 'embarked', 'survived']

for col in use_columns:
    data[col] = []
    
# investigasi fitur tambahan
for value in df.iloc:
    name = value['name']
    ticket = value['ticket']
    
    # memproses title dan last name
    commaIdx = name.find(", ")
    dotIdx = name.find(". ", commaIdx)
    title = name[commaIdx+2:dotIdx]
    last_name = name[:commaIdx]
    if (title not in title_count):
        title_count[title] = 1
    else:
        title_count[title] += 1
    
    # memproses tiket
    ticket_sep = ticket[::-1].find(" ")
    if (ticket_sep != -1):
        ticket_sep = len(ticket)-ticket_sep
        ticket_code = ticket[:ticket_sep].replace(".", "").replace(" ", "")
    else:
        if (ticket == "LINE"):
            ticket_code = "LINE"
        else:
            ticket_code = "NONE"
    
    data['pclass'].append(value['pclass'])
    data['title'].append(title)
    data['last_name'].append(last_name)
    data['sex'].append(value['sex'])
    data['age'].append(value['age'])
    data['sibsp'].append(value['sibsp'])
    data['parch'].append(value['parch'])
    data['ticket_code'].append(ticket_code)
    data['fare'].append(value['fare'])
    data['embarked'].append(value['embarked'])
    data['survived'].append(value['survived'])

# Data understanding kolom title count
print("Title count:")
for title in title_count:
    print("• "+title+": "+str(title_count[title]))

# Untuk memudahkan, beberapa sebutan digabung, terutama yang frekuensiya jarang dalam dataset
# selebihnya, sebutan wanita dapat digabung menjadi Mrs dan Miss, sesuai
# https://newrepublic.com/article/119432/history-female-titles-mistress-miss-mrs-or-ms
titles_map = {'Miss': 'Miss', 'Mrs': 'Mrs', 'Mr': 'Mr', 'Master': 'Master', 'Dr': 'Other', 'Rev': 'Other', 'Don': 'Other', 'Col': 'Army', 'Mme': 'Mrs', 'Capt': 'Army', 'Sir': 'Other', 'Ms': 'Mrs', 'the Countess': 'Nobility', 'Dona': 'Other', 'Mlle': 'Miss', 'Major': 'Army', 'Lady': 'Nobility', 'Jonkheer': 'Other'}

for i, title in enumerate(data['title']):
    data['title'][i] = titles_map[title]

print("\nDataset dengan fitur ditambahkan/dihilangkan:")
new_df = pd.DataFrame(data)
print(new_df)

# Penanganan missing values
new_df.describe()

new_df['age'] = new_df['age'].fillna(new_df['age'].mean())
# for each passanger class, fill missing fare as average fare of each passanger class
for pclass in new_df['pclass'].unique():
    avg_fare_of_pclass = new_df[(new_df['pclass'] == pclass)][['fare']].mean()[0]
    new_df[(new_df['pclass'] == pclass)][['fare']] = new_df[(new_df['pclass'] == pclass)][['fare']].fillna(avg_fare_of_pclass)

new_df['embarked'] = new_df['embarked'].fillna(new_df['embarked'].mode())

Title count:
• Miss: 260
• Mrs: 197
• Mr: 757
• Master: 61
• Dr: 8
• Rev: 8
• Don: 1
• Col: 4
• Mme: 1
• Capt: 1
• Sir: 1
• Ms: 2
• the Countess: 1
• Dona: 1
• Mlle: 2
• Major: 2
• Lady: 1
• Jonkheer: 1

Dataset dengan fitur ditambahkan/dihilangkan:
      pclass title             last_name     sex   age  sibsp  parch  \
0        3.0  Miss              Abelseth  female  16.0    0.0    0.0
1        3.0  Miss                 Burns  female  18.0    0.0    0.0
2        1.0  Miss               Fortune  female  24.0    3.0    2.0
3        3.0   Mrs        de Messemaeker  female  36.0    1.0    0.0
4        3.0    Mr               Jonsson    male  27.0    0.0    0.0
...      ...   ...                   ...     ...   ...    ...    ...
1304     3.0    Mr                  Dahl    male  45.0    0.0    0.0
1305     1.0    Mr  Penasco y Castellana    male  18.0    1.0    0.0
1306     2.0  Miss                Becker  female  12.0    2.0    1.0
1307     3.0  Miss                Murphy  female   NaN    1.0    0.0
1308     3.0    Mr                  Sage    male   NaN    8.0    2.0

     ticket_code      fare embarked  survived
0           NONE    7.6500        S       1.0
1           NONE    7.8792        Q       0.0
2           NONE  263.0000        S       1.0
3           NONE   17.4000        S       1.0
4           NONE    7.8542        S       0.0
...          ...       ...      ...       ...
1304        NONE    8.0500        S       1.0
1305          PC  108.9000        C       0.0
1306        NONE   39.0000        S       1.0
1307        NONE   15.5000        Q       1.0
1308          CA   69.5500        S       0.0

[1309 rows x 11 columns]

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [183]:
for column in new_df.columns[1:]:
    if (column != "survived"):
        print("• "+column+str(": ")+str(len(new_df[new_df[column].isna()])))

print("\n", new_df[new_df.isna().any(axis=1)])

• title: 0
• last_name: 0
• sex: 0
• age: 0
• sibsp: 0
• parch: 0
• ticket_code: 0
• fare: 1
• embarked: 2

      pclass title last_name     sex   age  sibsp  parch ticket_code  fare  \
268     1.0  Miss     Icard  female  38.0    0.0    0.0        NONE  80.0
387     1.0   Mrs     Stone  female  62.0    0.0    0.0        NONE  80.0
911     3.0    Mr    Storey    male  60.5    0.0    0.0        NONE   NaN

    embarked  survived
268      NaN       1.0
387      NaN       1.0
911        S       0.0

# II. Experiments Design
Tujuan dari bagian ini adalah peserta dapat memahami cara melakukan eksperimen mencari metode terbaik dengan benar. Hal ini meliputi:
1. Pembuatan model
2. Proses validasi
3. Hyperparameter tuning

## II.1
Tentukanlah metrics yang akan digunakan pada eksperimen kali ini (dapat lebih dari 1 metric)

Put your answer for section II.1 here

## II.2 
Bagi data dengan perbandingan 0.8 untuk data train dan 0.2 untuk data validasi

In [ ]:
# II.2 Put your code here

## II.3
Lakukanlah:
1. Prediksi dengan menggunakan model Logistic Regression sebagai *baseline*
2. Tampilkan evaluasi dari model yang dibangun dari metrics yang anda tentukan pada II.1
3. Tampilkan confusion matrix

In [ ]:
# II.3 Put your code here

## II.4 
Lakukanlah:
1. Pembelajaran dengan model lain
2. Hyperparameter tuning model yang kalian pakai dengan menggunakan Grid Search (perhatikan random factor pada beberapa algoritma model)
3. Lakukan validasi dengan menggunakan cross validation

In [ ]:
# II.4 Put your code here

# III. Improvement
Terdapat beberapa metode untuk melakukan peningkatan performa, contohnya adalah:
1. Melakukan oversampling / undersampling pada data
2. Menggabungkan beberapa model 

Pada bagian ini, kalian diharapkan dapat:
1. Melakukan training dengan data hasil oversampling / undersampling dan melakukan validasi dengan benar
2. Memahami beberapa metode untuk menggabungkan beberapa model

## III.1
Lakukanlah:
1. Oversampling pada kelas minoritas pada data train, kemudian train dengan model *baseline* (II.3), lakukan validasi dengan data validasi. Data train dan validasi adalah data yang kalian bagi pada bagian II.2
2. Undersampling pada kelas mayoritas pada data train, kemudian train dengan model *baseline* (II.3) lakukan validasi dengan data validasi. Data train dan validasi adalah data yang kalian bagi pada bagian II.2

In [ ]:
# III.1 Put your code here

## III.2
Lakukanlah:
1. Eksplorasi soft voting, hard voting, dan stacking
2. Buatlah model Logistic Regression dan SVM (boleh menggunakan model dengan beberapa parameter yang berbeda)
3. Lakukanlah soft voting dari model-model yang sudah kalian buat pada poin 2
4. Lakukan hard voting dari model-model yang sudah kalian buat pada poin 2
5. Lakukanlah stacking dengan final classifier adalah Logistic Regression dari model-model yang sudah kalian buat pada poin 2
6. Lakukan validasi dengan metrics yang kalian tentukan untuk poin 3, 4, dan 5

Put your answer for section III.2 point 1 here

In [ ]:
# III.2 Put your code here

# IV. Analisis
Bandingkan hasil dari:
1. Model Baseline (II.3)
2. Model lain (II.4)
3. Hasil undersampling
4. Hasil oversampling
5. Hasil soft voting
6. Hasil hard voting
7. Hasil stacking

Put your answer for section IV here