# Tugas Pendahuluan
Tugas Pendahuluan dikerjakan dengan dataset titanic yang dapat didownload pada link [berikut](https://drive.google.com/file/d/16j_9FEHLjh_Y_3CdUtp9M13VwImyT89T/view?usp=sharing). Lakukan prediksi apakah suatu penumpang selamat atau tidak (kolom **survived**), bernilai 0 jika tidak selamat, dan 1 jika selamat.

<br>
Tugas dikerjakan secara berkelompok, dengan 1 kelompok terdiri atas 2 mahasiswa. Waktu pengerjaan dari 28 Maret 2022 - 3 April 2022 pukul 23.59.

# 0. Loading Data and Library

In [33]:
# Put your library here

import pandas as pd
from pandas.api.types import is_numeric_dtype

In [5]:
# Read data here

# Load titanic dataset
df_raw = pd.read_csv("titanic_dataset.csv")
df = df_raw.copy()

In [18]:
df.iloc[5]

index                                   5
pclass                                1.0
survived                              1.0
name        Chambers, Mr. Norman Campbell
sex                                  male
age                                  27.0
sibsp                                 1.0
parch                                 0.0
ticket                             113806
fare                                 53.1
cabin                                  E8
embarked                                S
Name: 5, dtype: object

# I. Data Understanding
Tujuan dari bagian ini adalah peserta dapat memahami kualitas dari data yang diberikan. Hal ini meliputi:
1. Ukuran data
2. Statistik dari tiap fitur
3. Pencilan (outlier)
4. Korelasi
5. Distribusi

## I.1 
Carilah:
1. Ukuran dari data (instances dan features)
2. Tipe dari tiap-tiap fitur 
3. Banyaknya unique values dari fitur yang bertipe kategorikal
4. Nilai minimum, maksimum, rata-rata, median, dan standar deviasi dari fitur yang tidak bertipe kategorikal

In [61]:
# I.1 Put your code here

df.describe()

,index,pclass,survived,age,sibsp,parch,fare
count,1309.000000,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,654.000000,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479
std,378.020061,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668
min,0.000000,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000
25%,327.000000,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800
50%,654.000000,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200
75%,981.000000,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000
max,1308.000000,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200

## I.2
Carilah:
1. Missing values dari tiap fitur
2. Outliers dari tiap fitur (gunakan metode yang kalian ketahui)

In [60]:
# I.2 Put your code here

print("1. Missing values dari tiap fitur\n")

for column in df.columns[1:]:
    if (column != "survived"):
        print("• "+column+str(": ")+str(len(df[df[column].isna()])))

print("\n", df[df.isna().any(axis=1)])

print("\n\n2. Outliers dari tiap fitur")

for column in df.columns[1:]:
    if (is_numeric_dtype(df[column]) and column != "survived"):
        print("\n• "+column+str(":"))
        q1 = df[column].quantile(0.25)
        q3 = df[column].quantile(0.75)
        iqr = q3-q1
        lower_bound = 2.5*q1-1.5*q3
        upper_bound = 2.5*q3-1.5*q1
        outliers = df.loc[(df[column]<lower_bound) | (df[column]>upper_bound), [column]]
        print("\t- Lower bound: "+str(lower_bound))
        print("\t- Upper bound: "+str(upper_bound)+"\n")
        if (len(outliers) == 0):
            print("\t  No outliers")
        else:
            print(str(outliers))
            print("Jumlah: "+str(len(outliers)))

1. Missing values dari tiap fitur

• pclass: 0
• name: 0
• sex: 0
• age: 263
• sibsp: 0
• parch: 0
• ticket: 0
• fare: 1
• cabin: 1014
• embarked: 2

       index  pclass  survived                                          name  \
0         0     3.0       1.0                   Abelseth, Miss. Karen Marie
1         1     3.0       0.0                       Burns, Miss. Mary Delia
3         3     3.0       1.0  de Messemaeker, Mrs. Guillaume Joseph (Emma)
4         4     3.0       0.0                     Jonsson, Mr. Nils Hilding
6         6     2.0       0.0                           Enander, Mr. Ingvar
...     ...     ...       ...                                           ...
1301   1301     3.0       0.0              Gronnestad, Mr. Daniel Danielsen
1302   1302     3.0       1.0                     Madsen, Mr. Fridtjof Arne
1304   1304     3.0       1.0                         Dahl, Mr. Karl Edwart
1307   1307     3.0       1.0                Murphy, Miss. Katherine "Kate"
1308   1308     3.0       0.0                           Sage, Mr. Frederick

         sex   age  sibsp  parch    ticket     fare cabin embarked
0     female  16.0    0.0    0.0    348125   7.6500   NaN        S
1     female  18.0    0.0    0.0    330963   7.8792   NaN        Q
3     female  36.0    1.0    0.0    345572  17.4000   NaN        S
4       male  27.0    0.0    0.0    350408   7.8542   NaN        S
6       male  21.0    0.0    0.0    236854  13.0000   NaN        S
...      ...   ...    ...    ...       ...      ...   ...      ...
1301    male  32.0    0.0    0.0      8471   8.3625   NaN        S
1302    male  24.0    0.0    0.0   C 17369   7.1417   NaN        S
1304    male  45.0    0.0    0.0      7598   8.0500   NaN        S
1307  female   NaN    1.0    0.0    367230  15.5000   NaN        Q
1308    male   NaN    8.0    2.0  CA. 2343  69.5500   NaN        S

[1039 rows x 12 columns]


2. Outliers dari tiap fitur

• pclass:
	- Lower bound: 0.5
	- Upper bound: 4.5

	  No outliers

• age:
	- Lower bound: -6.0
	- Upper bound: 66.0

       age
271   71.0
352   70.0
422   70.0
535   76.0
639   74.0
665   70.5
706   71.0
866   67.0
1265  80.0
Jumlah: 9

• sibsp:
	- Lower bound: -1.5
	- Upper bound: 2.5

      sibsp
2       3.0
25      5.0
43      3.0
55      4.0
98      4.0
103     3.0
110     4.0
117     3.0
131     3.0
151     3.0
177     5.0
179     3.0
244     3.0
317     4.0
318     4.0
340     8.0
368     8.0
375     5.0
441     8.0
454     3.0
459     4.0
476     4.0
484     3.0
485     4.0
505     4.0
516     3.0
527     3.0
530     8.0
540     3.0
576     5.0
580     8.0
617     4.0
643     3.0
652     3.0
713     4.0
731     4.0
743     3.0
766     4.0
772     8.0
794     3.0
817     4.0
843     4.0
849     5.0
880     5.0
939     8.0
955     4.0
982     3.0
986     3.0
998     4.0
1020    8.0
1029    4.0
1032    4.0
1035    3.0
1180    4.0
1192    4.0
1203    4.0
1308    8.0
Jumlah: 57

• parch:
	- Lower bound: 0.0
	- Upper bound: 0.0

      parch
2       2.0
10      2.0
15      1.0
17      1.0
22      1.0
...     ...
1291    1.0
1294    1.0
1296    1.0
1306    1.0
1308    2.0

[307 rows x 1 columns]
Jumlah: 307

• fare:
	- Lower bound: -27.172999999999995
	- Upper bound: 66.3438

          fare
2     263.0000
11     93.5000
12     89.1042
15    153.4625
17    110.8833
...        ...
1294  134.5000
1298   78.2667
1303  227.5250
1305  108.9000
1308   69.5500

[171 rows x 1 columns]
Jumlah: 171

## I.3
Carilah:
1. Korelasi antar fitur
2. Visualisasikan distribusi dari tiap fitur (kategorikal dan kontinu)
3. Visualisasikan distribusi dari tiap fitur, dengan data dibagi tiap unique values fitur survived

In [ ]:
# I.3 Put your code here

## I.4
Lakukanlah analisa pada data lebih lanjut jika dibutuhkan, kemudian lakukanlah:
1. Penambahan fitur jika memungkinkan
2. Pembuangan fitur yang menurut kalian tidak dibutuhkan
3. Penanganan missing values
4. Transformasi data kategorikal menjadi numerikal (encoding), dengan metode yang kalian inginkan
5. Lakukan scaling dengan MinMaxScaler

In [ ]:
# I.4 Put your code here

# II. Experiments Design
Tujuan dari bagian ini adalah peserta dapat memahami cara melakukan eksperimen mencari metode terbaik dengan benar. Hal ini meliputi:
1. Pembuatan model
2. Proses validasi
3. Hyperparameter tuning

## II.1
Tentukanlah metrics yang akan digunakan pada eksperimen kali ini (dapat lebih dari 1 metric)

Put your answer for section II.1 here

## II.2 
Bagi data dengan perbandingan 0.8 untuk data train dan 0.2 untuk data validasi

In [ ]:
# II.2 Put your code here

## II.3
Lakukanlah:
1. Prediksi dengan menggunakan model Logistic Regression sebagai *baseline*
2. Tampilkan evaluasi dari model yang dibangun dari metrics yang anda tentukan pada II.1
3. Tampilkan confusion matrix

In [ ]:
# II.3 Put your code here

## II.4 
Lakukanlah:
1. Pembelajaran dengan model lain
2. Hyperparameter tuning model yang kalian pakai dengan menggunakan Grid Search (perhatikan random factor pada beberapa algoritma model)
3. Lakukan validasi dengan menggunakan cross validation

In [ ]:
# II.4 Put your code here

# III. Improvement
Terdapat beberapa metode untuk melakukan peningkatan performa, contohnya adalah:
1. Melakukan oversampling / undersampling pada data
2. Menggabungkan beberapa model 

Pada bagian ini, kalian diharapkan dapat:
1. Melakukan training dengan data hasil oversampling / undersampling dan melakukan validasi dengan benar
2. Memahami beberapa metode untuk menggabungkan beberapa model

## III.1
Lakukanlah:
1. Oversampling pada kelas minoritas pada data train, kemudian train dengan model *baseline* (II.3), lakukan validasi dengan data validasi. Data train dan validasi adalah data yang kalian bagi pada bagian II.2
2. Undersampling pada kelas mayoritas pada data train, kemudian train dengan model *baseline* (II.3) lakukan validasi dengan data validasi. Data train dan validasi adalah data yang kalian bagi pada bagian II.2

In [ ]:
# III.1 Put your code here

## III.2
Lakukanlah:
1. Eksplorasi soft voting, hard voting, dan stacking
2. Buatlah model Logistic Regression dan SVM (boleh menggunakan model dengan beberapa parameter yang berbeda)
3. Lakukanlah soft voting dari model-model yang sudah kalian buat pada poin 2
4. Lakukan hard voting dari model-model yang sudah kalian buat pada poin 2
5. Lakukanlah stacking dengan final classifier adalah Logistic Regression dari model-model yang sudah kalian buat pada poin 2
6. Lakukan validasi dengan metrics yang kalian tentukan untuk poin 3, 4, dan 5

Put your answer for section III.2 point 1 here

In [ ]:
# III.2 Put your code here

# IV. Analisis
Bandingkan hasil dari:
1. Model Baseline (II.3)
2. Model lain (II.4)
3. Hasil undersampling
4. Hasil oversampling
5. Hasil soft voting
6. Hasil hard voting
7. Hasil stacking

Put your answer for section IV here