# Tugas Pendahuluan
Tugas Pendahuluan dikerjakan dengan dataset titanic yang dapat didownload pada link [berikut](https://drive.google.com/file/d/16j_9FEHLjh_Y_3CdUtp9M13VwImyT89T/view?usp=sharing). Lakukan prediksi apakah suatu penumpang selamat atau tidak (kolom **survived**), bernilai 0 jika tidak selamat, dan 1 jika selamat.

<br>
Tugas dikerjakan secara berkelompok, dengan 1 kelompok terdiri atas 2 mahasiswa. Waktu pengerjaan dari 28 Maret 2022 - 3 April 2022 pukul 23.59.

# 0. Loading Data and Library

In [33]:
# Put your library here

import pandas as pd
from pandas.api.types import is_numeric_dtype

In [5]:
# Read data here

# Load titanic dataset
df_raw = pd.read_csv("titanic_dataset.csv")
df = df_raw.copy()

In [18]:
df.iloc[5]

index                                   5
pclass                                1.0
survived                              1.0
name        Chambers, Mr. Norman Campbell
sex                                  male
age                                  27.0
sibsp                                 1.0
parch                                 0.0
ticket                             113806
fare                                 53.1
cabin                                  E8
embarked                                S
Name: 5, dtype: object

# I. Data Understanding
Tujuan dari bagian ini adalah peserta dapat memahami kualitas dari data yang diberikan. Hal ini meliputi:
1. Ukuran data
2. Statistik dari tiap fitur
3. Pencilan (outlier)
4. Korelasi
5. Distribusi

## I.1 
Carilah:
1. Ukuran dari data (instances dan features)
2. Tipe dari tiap-tiap fitur 
3. Banyaknya unique values dari fitur yang bertipe kategorikal
4. Nilai minimum, maksimum, rata-rata, median, dan standar deviasi dari fitur yang tidak bertipe kategorikal

In [61]:
# I.1 Put your code here

df.describe()

,index,pclass,survived,age,sibsp,parch,fare
count,1309.000000,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,654.000000,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479
std,378.020061,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668
min,0.000000,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000
25%,327.000000,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800
50%,654.000000,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200
75%,981.000000,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000
max,1308.000000,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200

## I.2
Carilah:
1. Missing values dari tiap fitur
2. Outliers dari tiap fitur (gunakan metode yang kalian ketahui)

In [60]:
# I.2 Put your code here

print("1. Missing values dari tiap fitur\n")

for column in df.columns[1:]:
    if (column != "survived"):
        print("• "+column+str(": ")+str(len(df[df[column].isna()])))

print("\n", df[df.isna().any(axis=1)])

print("\n\n2. Outliers dari tiap fitur")

for column in df.columns[1:]:
    if (is_numeric_dtype(df[column]) and column != "survived"):
        print("\n• "+column+str(":"))
        q1 = df[column].quantile(0.25)
        q3 = df[column].quantile(0.75)
        iqr = q3-q1
        lower_bound = 2.5*q1-1.5*q3
        upper_bound = 2.5*q3-1.5*q1
        outliers = df.loc[(df[column]<lower_bound) | (df[column]>upper_bound), [column]]
        print("\t- Lower bound: "+str(lower_bound))
        print("\t- Upper bound: "+str(upper_bound)+"\n")
        if (len(outliers) == 0):
            print("\t  No outliers")
        else:
            print(str(outliers))
            print("Jumlah: "+str(len(outliers)))

1. Missing values dari tiap fitur

• pclass: 0
• name: 0
• sex: 0
• age: 263
• sibsp: 0
• parch: 0
• ticket: 0
• fare: 1
• cabin: 1014
• embarked: 2

       index  pclass  survived                                          name  \
0         0     3.0       1.0                   Abelseth, Miss. Karen Marie
1         1     3.0       0.0                       Burns, Miss. Mary Delia
3         3     3.0       1.0  de Messemaeker, Mrs. Guillaume Joseph (Emma)
4         4     3.0       0.0                     Jonsson, Mr. Nils Hilding
6         6     2.0       0.0                           Enander, Mr. Ingvar
...     ...     ...       ...                                           ...
1301   1301     3.0       0.0              Gronnestad, Mr. Daniel Danielsen
1302   1302     3.0       1.0                     Madsen, Mr. Fridtjof Arne
1304   1304     3.0       1.0                         Dahl, Mr. Karl Edwart
1307   1307     3.0       1.0                Murphy, Miss. Katherine "Kate"
1308   1308     3.0       0.0                           Sage, Mr. Frederick

         sex   age  sibsp  parch    ticket     fare cabin embarked
0     female  16.0    0.0    0.0    348125   7.6500   NaN        S
1     female  18.0    0.0    0.0    330963   7.8792   NaN        Q
3     female  36.0    1.0    0.0    345572  17.4000   NaN        S
4       male  27.0    0.0    0.0    350408   7.8542   NaN        S
6       male  21.0    0.0    0.0    236854  13.0000   NaN        S
...      ...   ...    ...    ...       ...      ...   ...      ...
1301    male  32.0    0.0    0.0      8471   8.3625   NaN        S
1302    male  24.0    0.0    0.0   C 17369   7.1417   NaN        S
1304    male  45.0    0.0    0.0      7598   8.0500   NaN        S
1307  female   NaN    1.0    0.0    367230  15.5000   NaN        Q
1308    male   NaN    8.0    2.0  CA. 2343  69.5500   NaN        S

[1039 rows x 12 columns]


2. Outliers dari tiap fitur

• pclass:
	- Lower bound: 0.5
	- Upper bound: 4.5

	  No outliers

• age:
	- Lower bound: -6.0
	- Upper bound: 66.0

       age
271   71.0
352   70.0
422   70.0
535   76.0
639   74.0
665   70.5
706   71.0
866   67.0
1265  80.0
Jumlah: 9

• sibsp:
	- Lower bound: -1.5
	- Upper bound: 2.5

      sibsp
2       3.0
25      5.0
43      3.0
55      4.0
98      4.0
103     3.0
110     4.0
117     3.0
131     3.0
151     3.0
177     5.0
179     3.0
244     3.0
317     4.0
318     4.0
340     8.0
368     8.0
375     5.0
441     8.0
454     3.0
459     4.0
476     4.0
484     3.0
485     4.0
505     4.0
516     3.0
527     3.0
530     8.0
540     3.0
576     5.0
580     8.0
617     4.0
643     3.0
652     3.0
713     4.0
731     4.0
743     3.0
766     4.0
772     8.0
794     3.0
817     4.0
843     4.0
849     5.0
880     5.0
939     8.0
955     4.0
982     3.0
986     3.0
998     4.0
1020    8.0
1029    4.0
1032    4.0
1035    3.0
1180    4.0
1192    4.0
1203    4.0
1308    8.0
Jumlah: 57

• parch:
	- Lower bound: 0.0
	- Upper bound: 0.0

      parch
2       2.0
10      2.0
15      1.0
17      1.0
22      1.0
...     ...
1291    1.0
1294    1.0
1296    1.0
1306    1.0
1308    2.0

[307 rows x 1 columns]
Jumlah: 307

• fare:
	- Lower bound: -27.172999999999995
	- Upper bound: 66.3438

          fare
2     263.0000
11     93.5000
12     89.1042
15    153.4625
17    110.8833
...        ...
1294  134.5000
1298   78.2667
1303  227.5250
1305  108.9000
1308   69.5500

[171 rows x 1 columns]
Jumlah: 171

## I.3
Carilah:
1. Korelasi antar fitur
2. Visualisasikan distribusi dari tiap fitur (kategorikal dan kontinu)
3. Visualisasikan distribusi dari tiap fitur, dengan data dibagi tiap unique values fitur survived

In [ ]:
# I.3 Put your code here

## I.4
Lakukanlah analisa pada data lebih lanjut jika dibutuhkan, kemudian lakukanlah:
1. Penambahan fitur jika memungkinkan
2. Pembuangan fitur yang menurut kalian tidak dibutuhkan
3. Penanganan missing values
4. Transformasi data kategorikal menjadi numerikal (encoding), dengan metode yang kalian inginkan
5. Lakukan scaling dengan MinMaxScaler

In [103]:
# I.4 Put your code here

data = {}

# Karena sebutan honorifik menandai status, maka dapat dijadikan fitur
title_count = {}

use_columns = ['pclass', 'survived', 'last_name', 'title', 'sex', 'age', 'sibsp', 'parch', 'ticket_code', 'ticket_num', 'fare', 'embarked']

for col in use_columns:
    data[col] = []
    
# investigasi fitur tambahan
for value in df.iloc:
    name = value['name']
    ticket = value['ticket']
    
    # memproses title dan last name
    commaIdx = name.find(", ")
    dotIdx = name.find(". ", commaIdx)
    title = name[commaIdx+2:dotIdx]
    last_name = name[:commaIdx]
    if (title not in title_count):
        title_count[title] = 1
    else:
        title_count[title] += 1
    
    # memproses tiket
    ticket_sep = ticket[::-1].find(" ")
    if (ticket_sep != -1):
        ticket_sep = len(ticket)-ticket_sep
        ticket_num = int(ticket[ticket_sep:])
        ticket_code = ticket[:ticket_sep].replace(".", "").replace(" ", "")
    else:
        if (ticket == "LINE"):
            ticket_code = "LINE"
            ticket_num = -1
        else:
            ticket_code = "NULLCODE"
            ticket_num = int(ticket)

# Data understanding kolom title count
print("Title count:")
for title in title_count:
    print("• "+title+": "+str(title_count[title]))

# Untuk memudahkan, beberapa sebutan digabung, terutama sebutan wanita menjadi Mrs dan Miss, sesuai
# https://newrepublic.com/article/119432/history-female-titles-mistress-miss-mrs-or-ms
titles = {'Miss': 'Miss', 'Mrs': 'Mrs', 'Mr': 'Mr', 'Master': 'Master', 'Dr': 'Other', 'Rev': 'Other', 'Don': 'Other', 'Col': 'Army', 'Mme': 'Mrs', 'Capt': 'Army', 'Sir': 'Other', 'Ms': 'Mrs', 'the Countess': 'Nobility', 'Dona': 'Other', 'Mlle': 'Miss', 'Major': 'Army', 'Lady': 'Nobility', 'Jonkheer': 'Other'}

348125
330963
19950
345572
350408
113806
236854
3101311 | SOTON/OQ
17598 | PC
33111 | CA
6607 | W/C
12749
17453
2676
21332
17582 | PC
54636
17421
1601
17593 | PC
376566
17765
2678
342684
4001 | C
2144 | CA
244252
110413
28665
250646
2658
349910
347464
17569 | PC
17582 | PC
12749
371110
239854
8475
29105
3101309 | SOTON/OQ
29103
17756 | PC
349909
2647
350035
113787
2627
33638
349238
3101312 | SOTON/OQ
350053
39886 | A/4
17608 | PC
347088
382652
28664
371110
6609 | W/C
243847
243847
17755 | PC
233478
349221
345779
17594 | PC
2696
17474
2 | SO/PP
2671
220845
345764
345765
237789
21171 | A/5
349247
368702
19996
2686
113806
11751
330979
244361
248734
17612 | PC
12749
17599 | PC
237736
21440
329944
347080
3101292 | STON/O2
112277
2861 | SC/A3
19943
330972
9549 | PP
349228
382652
34050 | CA
36967
2651
11767
4133
349206
350045
LINE
2680
35273
349241
347082
372622
13502
17761 | PC
31030 | CA
2654
2661
19950
349222
2695
3464 | SP
347077
17473 | PC
3101317 | SOTON/OQ
26360
349234
17597 | PC
392082 | SOTON/OQ
2622
330920
17760 | PC
4133
312991
315087
347471
3101269 | STON/O2
7534
29037 | SC/AH
3101276
34651 | CA
230080
349245
345773
237789
251 | SO/PP
383162
2146 | SC/PARIS
330909
110813
220845
17590 | PC
347088
54510 | A4
11967
2656
17572 | PC
3235 | A/5
14312
383121
113760
113789
27849
26707
334914
17569 | PC
367228
113051
349910
239853
330958
2660
348122
343095
248727
3101283 | STON/O2
349226
19877
2144 | CA
3101263 | SOTON/OQ
349909
7546
349229
240929
345775
19988
342441
34218
244310
13534 | FCC
33638
347075
231919
3101286 | STON/O2
37671 | CA
364498
324669
113043
3101296
330935
18723 | CA
2663
2668
349911
350054
2315 | CA
17558 | PC
358585
2123 | SC/Paris
250649
368783
36568
2697
345780
113503
2673
3101285 | STON/O2
347080
14879 | SOC
17485 | PC
11753
113773
349256
17593 | PC
394140
347077
349232
14313
113503
17608 | PC
350029
110489
350033
3130 | AQ/4
3470
113781
349215
17601 | PC
13508
6608 | W/C
350025
28666
345768
2680
35281
347088
336439
347065
110469
392078 | SOTON/OQ
370372
113790
330919
113783
7545
17760 | PC
315153
34651 | CA
236853
231919
242963
250649
315097
367231
228414
11769
113796
349233
48871 | A/4
113572
35852
1222
17609 | PC
237565
113773
2673 | CA
345767
113509
17580 | PC
113760
342826
110465
248698
113780
392087 | SOTON/OQ
248727
350409
36947
13507
17585 | PC
35851
347082
113505
233866
3101273 | STON/O2
113056
367232
65305
2651
370371
48871 | A/4
2926
17477 | PC
28228
17463
230433
364516
14973
3101267
113059
3101282 | STON/O2
349251
29395 | CA
250644
223596
2657
334915
2662
347082
347077
3101306 | SOTON/OQ
347067
19877
315154
312993
1601
244373
17595 | PC
363294
349255
330959
330932
33595 | CA
349205
17421
347468
29103
330877
350410
19928
2131 | SC/PARIS
2343 | CA
248723
2653
349244
347079
694
345501
13502
350405
345773
6608 | W/C
17756 | PC
5735 | WE/P
315096
349209
2665
244346
341826
370365
3101287 | SOTON/O2
19950
239856
111427
113781
3411
347064
2650
239059
2343 | CA
17603 | PC
751 | SW/PP
371060
376564
363291
343275
2144 | CA
265302 | Fa
17770
3902 | A/5
382650
19928
364849
3594 | A/5
LINE
17761 | PC
113760
2692
113572
230136
24579 | CA
250653
17605 | PC
752 | SW/PP
364851
111361
350405
228414
237734
34260 | CA
230136
349212
17613 | PC
2908
113055
226875
28206
2625
28220
367226
2144 | CA
3381 | P/PP
2079 | SC/PARIS
24160
13214
112053
12998 | FC
17603 | PC
15185 | CA
244278
11752
248727
2699
24580 | CA
13568
17759 | PC
4348 | PP
693
345771
3101314 | SOTON/OQ
13534 | FCC
2670
29750
14260 | W/C
248731
17485 | PC
111369
17318 | PC
28425
17611 | PC
14879 | SOC
382649
2343 | CA
2673 | CA
14879 | SOC
14879 | SOC
17755 | PC
17596 | PC
349213
2665
28004
4001 | C
110465
364516
347073
4133
347072
20589 | A/4
363291
3536 | A/5
347077
33112 | CA
365222
3101297
244252
2144 | CA
3101308 | SOTON/OQ
237798
237249
34651 | CA
363291
1585 | SCO/W
382651
250643
347071
113781
234686
3101281
113760
6212 | CA
3101294 | STON/O2
26360
36928
250655
28403
349909
347082
11753
367226
2691
113803
330844
113796
364856
17761 | PC
347470
37671 | CA
7075 | C
330911
349204
3 | SO/PP
12233
16988
29178 | CA
17463
113503
3101295
2687
348123
2659
239853
18509 | A5
4579
359309
2626
5727
33595 | CA
19950
250651
349208
220844
349257
2079 | SC/PARIS
250647
234360
233734
345364
2315 | CA
315153
239853
364849
2343 | CA
112059
370368
3101289 | STON/O2
392083 | SOTON/OQ
19877
28404
3101272 | SOTON/O2
2679
2343 | CA
345763
364506
347465
13236
349252
364850
4001 | C
111426
14266 | W/C
3101262 | SOTON/OQ
9549 | PP
2700
2123 | SC/Paris
2691
17483 | PC
376563
2163 | SC/Paris
17558 | PC
17757 | PC
13032 | A/5
32302
386525
21175 | A/5
248738
112377
33638
345770
113505
2666
248746
2147 | SC/PARIS
347090
359306
374887
350036
347466
2144 | CA
9232
350052
347085
2343 | CA
239855
7552
3101265
110152
226875
347742
2159 | SC/PARIS
347063
13567
30631 | AQ/3
31921 | CA
2650
113503
5734 | WEP
35273
349214
248738
330980
237735
350406
3101279 | STON/O2
350060
13695
14885 | SO/C
363592
112378
17764
2623
364500
237393
LINE
3101310 | SOTON/OQ
335677
347054
19952
374910
382652
1748 | SC
2672
2167 | SC/PARIS
2668
19950
19928
17755 | PC
113800
3381 | P/PP
365235
2223
2629
370129
3101290 | STON/O2
19947
6607 | W/C
17604 | PC
7534
113801
350404
10482 | A/5
347060
369943 | STON/OQ
112058
2694
347088
34651 | CA
3101266
7553
LINE
17758 | PC
29750
230080
2148 | SC/PARIS
349909
29751
11765
23568 | SC/A4
2660
2675
17608 | PC
17474
315089
29750
17248 | CA
13540 | FCC
364499
370369
31027
347072
2677
17760 | PC
347083
2167 | SC/PARIS
1601
21174 | A/5
13050
11967
28220
347068
3337 | A/5
12460
111320
315082
17558 | PC
330971
17483 | PC
2666
335432
7548
11813
1601
2653
347742
244367
392076 | SOTON/OQ
17421
2133 | SC/PARIS
4138
12750 | FC
17757 | PC
250651
349225
3101298
350042
348121
7267
2650
17754 | PC
2684
113791
367655
364512
315090
244270
347077
2668
14258 | W/C
349235
2466 | A/5
3410
243880
21228
14311
28134
349216
34244 | A/4
39186 | A2
392089 | SOTON/OQ
2620
350407
2315 | CA
21173 | A/5
347077
36866
376566
2079 | SC/PARIS
230136
29104
12749
17464
349256
28221
65304
349202
347088
220845
370371
367230
2168 | SC/PARIS
680
3101291 | STON/O2
2693
365226
2688
234604
851 | A/5
345769
2674
28213
28133
3336 | A/5
2649
28403
13213
17465
315037
111240
3101295
13502
2683
1478 | A/5
244358
3101275 | STON/O2
2343 | CA
112050
11206 | A5
4134
11751
3101316 | SOTON/OQ
392092
14879 | SOC
1588 | LP
3085 | SC/AH
392096
17464
110413
248747
345778
17572 | PC
9549 | PP
17608 | PC
363611
244358
349217
349203
19950
17585 | PC
3336 | A/5
110152
24065
19996
6607 | W/C
231945
371110
112058
113781
113028
244360
392086 | SOTON/OQ
347062
24160
237671
248744
26360
350043
218629
368402
4135
347082
13531 | FCC
35273
28034
349239
17368 | C
2661
17592 | PC
13567
851 | A/5
17611 | PC
17758 | PC
315094
1601
2641
14263 | W/C
347080
13507
113798
2628
3101274 | STON/O2
237736
113789
234818
17757 | PC
113788
347077
220845
30769 | CA
17569 | PC
349243
230080
2144 | CA
113044
37671 | CA
211536
36865
33112 | CA
2678
31921 | CA
11668
315083
2662
24065
17482 | PC
347467
113501
2682
48873 | A/4
17483 | PC
3101278
376564
17610 | PC
392095
6212 | CA
17597 | PC
350403
240276
2648
2666
347082
13528 | FCC
350416
2144 | CA
2681
17591 | PC
248733
28424
347087
113795
347742
17582 | PC
2621
113054
13236
3338 | A/5
345781
367227
342712
349210
31029 | CA
2627
17421
349236
2123 | SC/Paris
349219
330924
349248
349253
12750 | FC
235509
3101268 | STON/O2
323592
368703
3701
112379
347081
2690
2661
113776
113050
250655
370370
244367
350034
113510
349237
239865
367226
347074
3101298
237668
24160
28551
13905
239865
347089
3474
7266
347066
7538
113503
2343 | CA
364859
113803
17759 | PC
345777
368364
330931
3236 | A5
113767
348124
28664
11771
16966
33112 | CA
23567 | SC/A4
315151
3101295
36973
2926
4133
1601
349909
312992
16966
19924
17592 | PC
2662
384461
3101280 | STON/O2
374746
2698
220367
851 | A/5
3101284 | SOTON/O2
31028
392091
3101315 | SOTON/OQ
236171
226593
345774
315088
111428
541 | SC/AHBasle
3101278
2543
17755 | PC
370365
4133
315152
349250
392090 | SOTON/OQ
113781
17476 | PC
343271
2664
3460
31418
364858
248738
3101295
36928
3101279 | STON/O2
6608 | W/C
2816 | A/S
110413
7540
48871 | A/4
335097
3101288 | STON/O2
229236
350026
2631
113509
349211
347054
392096
11765
17572 | PC
237216
330968
2685
2343 | CA
19943
330910
370129
3540 | A/5
363272
13509
362316
350050
382652
370375
2689
3101295
17608 | PC
371109
31027
358585
45380 | A/4
14879 | SOC
49867 | CA
382652
2151 | A/5
17474 | PC
3 | SO/PP
110152
4136
370129
17483 | PC
370374
2152 | A/5
29011
113038
349223
349224
2003
13508
31352 | CA
347469
29103
250644
250650
2699
17760 | PC
27267
17475
345498
343120
2659
219533
113794
14879 | SOC
11755
54636
31029 | CA
17453
17604 | PC
237670
250648
349912
3101315 | SOTON/OQ
16966
13529 | FCC
349246
334912
11778
29037 | SC/AH
230434
6608 | W/C
31921 | CA
240261
220845
6607 | W/C
17531 | PC
2624
3101271 | STON/O2
2908
383123
13695
250647
9234
11770
113778
36963
236853
5735 | WE/P
17466
371362
4137
2123 | SC/Paris
364848
382653
2666
36973
751 | SO/PP
370376
3101315 | SOTON/OQ
368573
16966
42795 | CA
36568
347086
211535
26707
3085 | SC/AH
13050
315086
347070
13529 | FCC
36209
6608 | W/C
2 | SO/PP
31029 | CA
323951
350046
31026 | CA
248740
112052
29106
350417
367229
113776
315085
113804
7076 | C
13529 | FCC
17475 | PC
315093
368323
349220
21228
366713
250652
17756 | PC
113781
3337 | A/5
7935
233639
345783
1166 | SOP
2315 | CA
11778
315091
2689
11767
33112 | CA
343276
17599 | PC
65303
13528 | FCC
345572
392091
31352 | CA
230433
347088
373450
11813
11769
21172 | A/5
112378
349237
347091
3101305 | SOTON/OQ
17608 | PC
2667
695
6563
17607 | PC
365237
386525
113514
248706
364498
382652
347743
248659
345773
112901
17477 | PC
2166 | SC/PARIS
11668
113798

29106
2678
347082
111163
364846
350048
2817 | A/5
29108
113059
1601
315153
17606 | PC
347076
370373
349254
3101295
34644 | CA
315095
364511
113784
110564
237442
2149 | SC/PARIS
31416 | A/4
29566 | CA
14888 | SC
315098
24160
2673 | CA
2669
17562 | PC
19972
347069
349242
65306
1601
36864
7077 | C
315084
350047
35281
236852
29106
29105
113792
349249
349218
17600 | PC
11767
2314 | CA
3101270 | STON/O2
2343 | CA
29107
3101295
349240
345764
111361
371362
110813
17608 | PC
11774
28220
349207
113786
27042
347078
349231
349201
2653
113807
244368
3101277
2652
5734 | WEP
3101293 | STON/O2
315092
5547 | CA
345763
34068 | CA/SOTON
349227
350026
17757 | PC
2655
248726
330923
13049
36928
3101264
112051
349230
36928
347061
370377
16966
3101307 | SOTON/OQ
2625
2003
36947
752 | SO/PP
14208 | W/C
8471
17369 | C
17757 | PC
7598
17758 | PC
230136
367230
2343 | CA
Title count:
• Miss: 260
• Mrs: 197
• Mr: 757
• Master: 61
• Dr: 8
• Rev: 8
• Don: 1
• Col: 4
• Mme: 1
• Capt: 1
• Sir: 1
• Ms: 2
• the Countess: 1
• Dona: 1
• Mlle: 2
• Major: 2
• Lady: 1
• Jonkheer: 1

# II. Experiments Design
Tujuan dari bagian ini adalah peserta dapat memahami cara melakukan eksperimen mencari metode terbaik dengan benar. Hal ini meliputi:
1. Pembuatan model
2. Proses validasi
3. Hyperparameter tuning

## II.1
Tentukanlah metrics yang akan digunakan pada eksperimen kali ini (dapat lebih dari 1 metric)

Put your answer for section II.1 here

## II.2 
Bagi data dengan perbandingan 0.8 untuk data train dan 0.2 untuk data validasi

In [ ]:
# II.2 Put your code here

## II.3
Lakukanlah:
1. Prediksi dengan menggunakan model Logistic Regression sebagai *baseline*
2. Tampilkan evaluasi dari model yang dibangun dari metrics yang anda tentukan pada II.1
3. Tampilkan confusion matrix

In [ ]:
# II.3 Put your code here

## II.4 
Lakukanlah:
1. Pembelajaran dengan model lain
2. Hyperparameter tuning model yang kalian pakai dengan menggunakan Grid Search (perhatikan random factor pada beberapa algoritma model)
3. Lakukan validasi dengan menggunakan cross validation

In [ ]:
# II.4 Put your code here

# III. Improvement
Terdapat beberapa metode untuk melakukan peningkatan performa, contohnya adalah:
1. Melakukan oversampling / undersampling pada data
2. Menggabungkan beberapa model 

Pada bagian ini, kalian diharapkan dapat:
1. Melakukan training dengan data hasil oversampling / undersampling dan melakukan validasi dengan benar
2. Memahami beberapa metode untuk menggabungkan beberapa model

## III.1
Lakukanlah:
1. Oversampling pada kelas minoritas pada data train, kemudian train dengan model *baseline* (II.3), lakukan validasi dengan data validasi. Data train dan validasi adalah data yang kalian bagi pada bagian II.2
2. Undersampling pada kelas mayoritas pada data train, kemudian train dengan model *baseline* (II.3) lakukan validasi dengan data validasi. Data train dan validasi adalah data yang kalian bagi pada bagian II.2

In [ ]:
# III.1 Put your code here

## III.2
Lakukanlah:
1. Eksplorasi soft voting, hard voting, dan stacking
2. Buatlah model Logistic Regression dan SVM (boleh menggunakan model dengan beberapa parameter yang berbeda)
3. Lakukanlah soft voting dari model-model yang sudah kalian buat pada poin 2
4. Lakukan hard voting dari model-model yang sudah kalian buat pada poin 2
5. Lakukanlah stacking dengan final classifier adalah Logistic Regression dari model-model yang sudah kalian buat pada poin 2
6. Lakukan validasi dengan metrics yang kalian tentukan untuk poin 3, 4, dan 5

Put your answer for section III.2 point 1 here

In [ ]:
# III.2 Put your code here

# IV. Analisis
Bandingkan hasil dari:
1. Model Baseline (II.3)
2. Model lain (II.4)
3. Hasil undersampling
4. Hasil oversampling
5. Hasil soft voting
6. Hasil hard voting
7. Hasil stacking

Put your answer for section IV here